################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServerLessAPI
/Product.API/bin
/Product.API/obj
